# all my aliases
# For a full list of active aliases, run `alias`.
# Most of the navigation aliases require k.sh to be installed
# Some of the aliases below are for functions in the ./.functions file

# brew
alias bri='brew install'
alias brs='brew search'
alias brss='brew services start'
alias brsp='brew services stop'
alias brsl='brew services list'
alias brci='brew cask install'
alias brcs='brew cask search'

# bundle
alias be='bundle exec'
alias bea='bundle exec avant'
alias bera='bundle exec rake'
alias bers='bundle exec rspec'
alias bi='bundle install'
alias bo='bundle open'
alias bu='bundle update'

# colorize
alias catc='colorize'

# docker
alias dk='docker'
alias dkc='docker-compose'

# git
alias g='git'
alias ga='git add'
alias gaa='git add .'
alias gac='git_add_commit'
alias gacp='git_add_commit_push'
alias garc='git add . && git rebase --continue'
alias gb='git branch'
alias gba='git branch -a' # list all branches
alias gbd='git branch -D' # delete local branch
alias gbdlr='git_branch_delete_local_and_remotes'
alias gbdr='git_branch_delete_remote' # delete remote branch
alias gbr='git branch -r' # list remote branches
alias gca='git commit --amend'
alias gcfm='git checkout --force master'
alias gcm='git commit -m'
alias gcp='git_commit_push'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcof='git checkout --force'
alias gcog='git checkout gh-pages'
alias gcom='git checkout master'
alias gd='git diff'
alias gdf='git_diff_file'
alias gds='git diff --stat'
alias gdns='git diff --numstat'
alias gf='git fetch'
alias ghl='cat .git/refs/heads/master' # full hash
alias ghs='git log --pretty=format:"%h" -n 1 | cat' # short hash
alias gin='git init'
alias gig='git_ignore_and_remove'
alias gln='git_lastnhashes'
alias gm='git merge'
alias gp='git push'
alias gpf='git push --force'
alias gpl='git pull'
alias gplu='git pull -u'
alias gpluo='git pull -u origin'
alias gpo='git push -u origin'
alias gpu='git push -u'
alias gpuo='git push -u origin'
alias gra='git remote add'
alias grb='git rebase'
alias grbc='git rebase --continue'
alias grbm='git rebase master'
alias grbs='git rebase --skip'
alias grollback='git reset HEAD~1'
alias grollforward='git reset HEAD@{1}'
alias grp='git remote prune'
alias grpo='git remote prune origin' # removes dead branches from remote origin
alias grr='git remote remove'
alias grao='git remote add origin'
alias grro='git remote remove origin'
alias grv='git remote --verbose'
alias gs='git status'
alias gst='git stash'
alias gsta='git stash apply'
alias gstai='git stash apply --index'
alias gstb='git stash branch'
alias gstl='git stash list'
alias gstu='git stash show -p | git apply -R' # git stash unapply
alias gviz='git log --oneline --decorate --graph --all'

# heroku
alias hrc='heroku run rails console --app'

# javascript/npm/nvm/gulp/grunt/react
alias gl='gulp'
alias gls='gulp serve'
alias glr='rm -rf node_modules; rm -rf bower_components; npm cache clean; npm install; gulp serve'
alias gt='grunt'
alias gts='grunt serve'
alias gtsf='grunt serve --force'
alias gtt='grunt test'
alias gtrs='rm -rf bower_components; rm -rf node_modules; npm cache clean; npm install; grunt serve --force'
alias npme='PATH=$(npm bin):$PATH'
alias react_new='new_react_project'
alias react_install='npm install --save react react-dom'
alias react_webpack="cp $DOTFILES/webpack.config.js ./webpack.config.js && npm install --save webpack"
alias react_babel_install='npm install --save babel-core babel-loader babel-preset-react'
alias wp='$(npm bin)/webpack'

# miscellany
alias chrome='open -a "Google Chrome"'
alias curli='curl -I'
alias die='omni_killer'
alias grepi='grep -i'
alias pids='pids_for'
alias psgrep='psaux_with_grep'
alias rlr='reload_redis'
alias rebuild_open_with_index='/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -r -domain local -domain user; killall Finder'
alias rebuild_spotlight_index="sudo mdutil -i on /"

# mysql/postgres
alias msst='mysql.server start'
alias mssp='mysql.server stop'
alias msr='mysql.server restart'
alias pg='postgres -D /usr/local/var/postgres'
alias pgst='pg_ctl -D /usr/local/var/postgres -l logfile start'
alias pgsp='pg_ctl -D /usr/local/var/postgres -l logfile stop'
alias bpgst='brew services start postgresql@9.4'
alias bpgsp='brew services stop postgresql@9.4'

# navigation
alias back='cd ..'
alias cda='cd_atom'
alias cdl='cd_ll'
alias la='k -A'
alias ll='k -Ah'
alias lt='k -Ah *'
alias mkcd='mkdir_cd'
alias up='cd ..'
alias upl='cd .. && k -Ah'
alias upp='cd ../..'
alias uppl='cd ../.. && k -Ah'
alias whcd='which_cd'
alias whcdl='which_cd_ll'
alias za='z_atom'
alias zl='z_ll'

# postgres
alias start_pg='brew services start postgresql@9.4'
alias stop_pg='brew services stop postgresql@9.4'

# python
alias pi='pip install'
alias pu='pip install --upgrade pip'
alias pe='pyenv'
alias pev='pyenv versions'
alias pei='pyenv install'
alias pel='pyenv local'
alias peu='pyenv local'
alias peg='pyenv global'
alias per='pyenv rehash' # run this after installing executables
alias peh='pyenv help'

# redis
alias start_redis='brew services start redis'
alias stop_redis='brew services stop redis'
alias rcli='redis-cli'

# ruby/rails
alias gi='gem install'
alias rs='rails server'
alias rc="rails console"
alias rcdev="export RAILS_ENV='development'; rails console"
alias rdbd='rake db:drop'
alias rdbm='rake db:migrate'
alias rdbr='rake db:reset'
alias rdbsd='rake db:seed'
alias rdbsu='rake db:setup'
alias rdbrb='rake db:rollback'
alias rdbms='rake db:migrate:status'
alias rn='rails_new'
alias rrs='rails_reset'

# server
alias pyss='python -m SimpleHTTPServer'

# dotfiles (and iTerm autolaunch)
alias a='atom'
alias aa='atom $DOTFILES/.aliases'
alias ad='atom $DOTFILES' # opens atom with navigation pane for all dotfiles
alias af='atom $DOTFILES/.functions'
alias av='atom $DOTFILES/.vimrc'
alias az='atom $DOTFILES/.zshrc'
alias sa='source $DOTFILES/.aliases'
alias sd='source ~/.zshrc'
alias sf='source $DOTFILES/.functions'
alias sz='source ~/.zshrc'
alias va='vim $DOTFILES/.aliases'
alias vf='vim $DOTFILES/.functions'
alias vggi='vim ~/.gitignore_global'
alias vv='vim $DOTFILES/.vimrc'
alias vz='vim $DOTFILES/.zshrc'
alias vi='vim $DOTFILES/iTermAutoLaunch.scpt'
