# My custom shell functions, most of which should probably be scripts in a bin somewhere. A project for another day

function cd_atom {
  cd $1 && atom .
}

function cd_ll {
  cd $1 && k -Ah
}

function git_add_commit_push {
  if [ $1 ]; then
    G_MESSAGE=$1
  else
    return "Enter a commit message"
  fi

  G_BRANCH=$(git rev-parse --symbolic-full-name --abbrev-ref HEAD)
  git add .; git commit -m $G_MESSAGE; git push -u origin $G_BRANCH
}

function git_commit_push {
  git commit -m $1 && git push
}

function git_ignore_and_remove {
  echo $1 >> ./.gitignore; git rm --cached $1
}

function git_lastnhashes {
  git rev-list --max-count=$1 HEAD
}

function mkdir_cd {
  if [ ! -n "$1" ]; then
    echo "Enter a directory name"
  elif [ -d $1 ]; then
    echo "\`$1' already exists"
  else
    mkdir $1 && cd $1
  fi
}

function pingGoogle {
  if [ ! -n "$1" ]; then
    ping -c 5 google.com
  else
    ping -c $1 google.com
  fi
}

function untarAll {
  for file in $( ls ); do
    dir=${file%.tar};
    mkdir $dir;
    tar -C $dir/ -xvf $file;
  done
}

function untargzAll {
   for file in $( ls ); do
    dir=${file%.tar};
    mkdir $dir;
    tar -C $dir/ -zxvf $file;
  done
}

function which_cd {
  cd `which $1 | xargs dirname`
}

function which_cd_ll {
  cd `which $1 | xargs dirname` && k -Ah
}

function z_atom {
  z $1 && atom .
}

function z_ll {
  z $1 && k -Ah
}
